openapi: 3.2.0
info:
  title: Emarsys Core API - External Content endpoint batch Https…
  description: In this batch you may find endpoints related to External Content.
  version: v2
servers:
- url: https://api.emarsys.net/api
security:
- X-WSSE: []
tags:
- name: 'Https:'
paths:
  /https://{customer-website.com}/api/example/:
    post:
      summary: Request External Content for Personalization
      description: '### Basics


        With External Content, you can use your own API to personalize content in your messages.'
      operationId: requestExternalContent
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      properties:
                        '{reference-field-1}':
                          type: string
                          description: Reference fields work as a key in the response, identifying an individual contact. If External Content receives a key which was not in the request, it will discard the objects identified by the unknown key.
                        '{reference-field-2}':
                          type: string
                        '{response-value-1_N}':
                          type: string
                          description: The response fields containing the requested values.
                        '{response-value-2_N}':
                          type: string
                      required:
                      - '{reference-field-1}'
                      - '{reference-field-2}'
                required:
                - content
              example:
                content:
                - date_of_birth: '1990-01-01'
                  season: winter
                  generated_image_url: https://customer.com/personal-images/ea6b95d41f8
                  age: '30'
            application/gzip:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      properties:
                        '{reference-field-1}':
                          type: string
                          description: Reference fields work as a key in the response, identifying an individual contact. If External Content receives a key which was not in the request, it will discard the objects identified by the unknown key.
                        '{reference-field-2}':
                          type: string
                        '{response-value-1_N}':
                          type: string
                          description: The response fields containing the requested values.
                        '{response-value-2_N}':
                          type: string
                      required:
                      - '{reference-field-1}'
                      - '{reference-field-2}'
                required:
                - content
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: array
                  description: This array lists the preconfigured Reference fields and their values returned by Emarsys during personalization.
                  items:
                    type: object
                    properties:
                      '{reference-field-1}':
                        type: string
                      '{reference-value-1_N}':
                        type: string
                      '{reference-field-2}':
                        type: string
                      '{reference-value-2_N}':
                        type: string
                    required:
                    - '{reference-field-1}'
                    - '{reference-value-1_N}'
                fields:
                  type: array
                  description: This array lists the expected response fields, which were configured in the Response fields section.
                  items:
                    type: string
                    pattern: ^[A-Za-z][A-Za-z0-9_]*$
                limit:
                  type: integer
                  description: 'This value indicates how many personalization values we expect to get for a contact from your API. It is an automatically calculated value by during personalization based on your email template.


                    **Example**: Your system calculates a product recommendation and you use 3 recommendations in your email template. We will set the limit value automatically to 3, as you don''t use more than 3 recommendations in your template.'
              required:
              - parameters
              - fields
              - limit
              x-examples:
              - parameters:
                - date_of_birth: '1990-01-01'
                  season: winter
                fields:
                - generated_image_url
                - age
                limit: 10
      tags:
      - 'Https:'
components:
  securitySchemes:
    X-WSSE:
      type: apiKey
      name: X-WSSE
      in: header
