openapi: 3.2.0
info:
  title: Emarsys Core API - Email campaigns endpoint batch Blocklist API
  description: In this batch you may find endpoints related to email campaigns.
  version: v2
servers:
- url: https://api.emarsys.net/api
security:
- X-WSSE: []
tags:
- name: Blocklist
paths:
  /v2/blocklist:
    post:
      summary: Blocklist Emails and Domains
      description: 'Adds emails and domains to the internal blocklist. Blocklisted entries are not participating in any campaign.


        **Note:** The maximum batch size is 1000 emails and 1000 domains per call.'
      operationId: blocklistEntries
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: object
                    description: The requested data.
                    properties:
                      emails:
                        type: array
                        description: The list of emails put on the blocklist.
                        items:
                          type: string
                      domains:
                        type: array
                        description: The list of domains put on the blocklist.
                        items:
                          type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  description: List of emails to be put on the blocklist.
                  items:
                    type: string
                domains:
                  type: array
                  description: List of domains to be put on the blocklist.
                  items:
                    type: string
              x-examples:
              - emails:
                - address1@example.com
                - address2@example.com
                domains:
                - example.com
                - example.net
      tags:
      - Blocklist
components:
  schemas:
    default-response:
      type: object
      title: Default Response
      description: 'See the following documents for details on the error codes:


        - [HTTP 200 errors](docs/response-codes/http-200-responses.md)

        - [HTTP 400 errors](docs/response-codes/http-400-errors.md)

        - [HTTP 401-429 errors](docs/response-codes/http-401-429-errors.md)

        - [HTTP 500 errors](docs/response-codes/http-500-errors.md)'
      properties:
        replyCode:
          type: integer
          description: The Emarsys response code. Successful requests return *0*; otherwise, see [errors](docs/response-codes/http-400-errors.md).
          default: 0
        replyText:
          type: string
          description: Additional information on the status of the request.
        data:
          description: Contains the requested data, if applicable.
          oneOf:
          - type: string
          - type: integer
          - {}
          - type: object
            properties:
              ? ''
              : type: object
      x-examples:
      - replyCode: 0
        replyText: OK
        data: {}
  securitySchemes:
    X-WSSE:
      type: apiKey
      name: X-WSSE
      in: header
