openapi: 3.2.0
info:
  version: 0.0.1
  title: Provider callbacks Inbound Messages API
  description: 'An SAP Emarsys SMS Partner Service allows partners to host SMS message sends that are triggered

    by an SAP Emarsys SMS campaign launch. This OpenAPI specification describes the possible callback endpoints.

    '
  contact:
    name: SAP Emarsys SMS Team
    email: team-sms@emarsys.com
servers:
- url: https://api.emarsys.net/sms/partner/v1
security:
- oAuthAuthorization: []
tags:
- name: inbound-messages
paths:
  /clients/{clientId}/inboundMessages:
    post:
      summary: Inbound messages callback
      operationId: sendInboundMessages
      tags:
      - inbound-messages
      security:
      - oAuthAuthorization: []
      parameters:
      - $ref: ./common.yaml#/components/parameters/clientIdPathParam
      requestBody:
        description: The body of the inbound messages in JSON 145078 format
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundMessageBatch'
      responses:
        '202':
          $ref: ./common.yaml#/components/responses/AcceptedResponse
        '400':
          $ref: ./common.yaml#/components/responses/InvalidFormatResponse
        '401':
          $ref: ./common.yaml#/components/responses/AuthenticationFailedResponse
        '403':
          $ref: ./common.yaml#/components/responses/AuthorizationFailedResponse
        '404':
          $ref: ./common.yaml#/components/responses/ClientDoesNotExistResponse
        '429':
          $ref: ./common.yaml#/components/responses/TooManyRequestsResponse
        5XX:
          $ref: ./common.yaml#/components/responses/ServerErrorResponse
components:
  schemas:
    InboundMessageBatch:
      type: object
      properties:
        inboundMessages:
          type: array
          items:
            $ref: '#/components/schemas/InboundMessage'
          minItems: 1
          maxItems: 1000
      required:
      - inboundMessages
    InboundMessage:
      allOf:
      - $ref: ./common.yaml#/components/schemas/IdentifiableMessage
      - $ref: ./common.yaml#/components/schemas/ReceivedAt
  securitySchemes:
    oAuthAuthorization:
      type: oauth2
      description: OAuth client credentials grant type authorization
      flows:
        clientCredentials:
          tokenUrl: https://smsemarsys.accounts.ondemand.com/oauth2/token
          scopes: {}
x-sap-shortText: Process Partner service callbacks for the Emarsys SMS Partner API. Expected callbacks contain outbound message delivery reports and inbound messages.
