openapi: 3.2.0
info:
  title: Emarsys Core API - Keys endpoint batch Keyring API
  description: In this batch you may find endpoints related to keys.
  version: v2
servers:
- url: https://api.emarsys.net/api
tags:
- name: Keyring
paths:
  /v2/keyring/keys:
    post:
      summary: List Keys in the Keyring
      description: 'Lists all keys in the keyring for SFTP key-based authentication.


        **Note:** This feature is in the pilot phase and currently available for a limited number of clients only. If you are interested in participating, contact Emarsys support.


        **Important:** Access to administrative endpoints is restricted. If you need access, contact Emarsys support.'
      operationId: listKeysInKeyring
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: array
                    description: The requested data.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The identifier of the key.
                        comment:
                          type: string
                          description: The name of the key.
                        created:
                          type: string
                          description: The creation date of the key.
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      tags:
      - Keyring
  /v2/keyring/keys/{keyId}/delete:
    post:
      summary: Delete a Key from the Keyring
      description: 'Deletes a single key from the keyring.


        **Note:** This feature is in the pilot phase and currently available for a limited number of clients only. If you are interested in participating, contact Emarsys support.


        **Important:** Access to administrative endpoints is restricted. If you need access, contact Emarsys support.'
      operationId: deleteKeyFromKeyring
      parameters:
      - name: keyId
        in: path
        description: The identifier of the key.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      tags:
      - Keyring
components:
  schemas:
    default-response:
      type: object
      title: Default Response
      description: 'See the following documents for details on the error codes:


        - [HTTP 200 errors](docs/response-codes/http-200-responses.md)

        - [HTTP 400 errors](docs/response-codes/http-400-errors.md)

        - [HTTP 401-429 errors](docs/response-codes/http-401-429-errors.md)

        - [HTTP 500 errors](docs/response-codes/http-500-errors.md)'
      properties:
        replyCode:
          type: integer
          description: The Emarsys response code. Successful requests return *0*; otherwise, see [errors](docs/response-codes/http-400-errors.md).
          default: 0
        replyText:
          type: string
          description: Additional information on the status of the request.
        data:
          description: Contains the requested data, if applicable.
          oneOf:
          - type: string
          - type: integer
          - {}
          - type: object
            properties:
              ? ''
              : type: object
      x-examples:
      - replyCode: 0
        replyText: OK
        data: {}
  securitySchemes:
    X-WSSE:
      type: apiKey
      name: X-WSSE
      in: header
