openapi: 3.1.0
info:
  title: SAP Emarsys Core Contact Lists Events API
  description: 'SAP Emarsys Core API (v2) provides programmatic access to the omnichannel customer engagement platform: managing contacts, contact lists, segments, and email campaigns. Authentication historically used WSSE; SAP Emarsys is moving the API surface to OAuth 2.0 / OIDC with JWT for v3 — both schemes are documented here.

    '
  version: 1.0.0
  contact:
    name: SAP Emarsys Developer Portal
    url: https://dev.emarsys.com/
servers:
- url: https://api.emarsys.net
security:
- WSSE: []
- OAuth2: []
tags:
- name: Events
paths:
  /api/v2/event/{eventId}/trigger:
    post:
      summary: Trigger external event
      operationId: triggerExternalEvent
      tags:
      - Events
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key_id:
                  type: string
                external_ids:
                  type: array
                  items:
                    type: string
                data:
                  type: object
      responses:
        '200':
          description: Event triggered
components:
  securitySchemes:
    WSSE:
      type: apiKey
      in: header
      name: X-WSSE
      description: Legacy WSSE authentication header (being deprecated).
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.emarsys.net/api/v3/auth/token
          scopes: {}
