openapi: 3.1.0
info:
  title: SAP Emarsys Core Contact Lists Contacts API
  description: 'SAP Emarsys Core API (v2) provides programmatic access to the omnichannel customer engagement platform: managing contacts, contact lists, segments, and email campaigns. Authentication historically used WSSE; SAP Emarsys is moving the API surface to OAuth 2.0 / OIDC with JWT for v3 — both schemes are documented here.

    '
  version: 1.0.0
  contact:
    name: SAP Emarsys Developer Portal
    url: https://dev.emarsys.com/
servers:
- url: https://api.emarsys.net
security:
- WSSE: []
- OAuth2: []
tags:
- name: Contacts
paths:
  /api/v2/contact:
    post:
      summary: Create contacts
      operationId: createContact
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key_id:
                  type: string
                contacts:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Contact(s) created
    put:
      summary: Update contacts
      operationId: updateContact
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key_id:
                  type: string
                contacts:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Contact(s) updated
  /api/v2/contact/getdata:
    post:
      summary: Get contact data
      operationId: getContactData
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key_id:
                  type: string
                fields:
                  type: array
                  items:
                    type: integer
                keyValues:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Contact data
components:
  securitySchemes:
    WSSE:
      type: apiKey
      in: header
      name: X-WSSE
      description: Legacy WSSE authentication header (being deprecated).
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.emarsys.net/api/v3/auth/token
          scopes: {}
