openapi: 3.2.0
info:
  title: Emarsys Core API - Media Database endpoint batch Folder API
  description: In this batch you may find endpoints related to the Media Database.
  version: v2
servers:
- url: https://api.emarsys.net/api
tags:
- name: Folder
paths:
  /v2/folder:
    post:
      summary: Create a Media Database Folder
      description: Creates a new folder in a specified existing parent folder in the Media Database.
      operationId: createMediaDatabaseFolder
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: object
                    description: The requested data.
                    properties:
                      id:
                        type: integer
                        description: The identifier of the created folder.
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the new folder.


                    **Allowed characters:** Letters, numbers, underscore (*_*) and hyphen (*-*)


                    **Note:** The name cannot start with a hyphen (*-*).'
                parent:
                  type: integer
                  description: The identifier of the parent folder.
              required:
              - name
              - parent
              x-examples:
              - name: Assets
                parent: 12341234
      tags:
      - Folder
    get:
      summary: List Media Database Folders
      description: 'Returns a list of all folders in the Media Database.


        **Tip**: Use the `folder` query parameter to only list subfolders of a specific folder.'
      operationId: listMediaDatabaseFolders
      parameters:
      - name: folder
        in: query
        description: The folder identifier. If provided, only subfolders of the specified folder are listed.
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: array
                    description: The requested data.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The folder identifier.
                        parent:
                          type: integer
                          description: The identifier of the parent folder.
                        name:
                          type: string
                          description: The name of the folder.
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      tags:
      - Folder
components:
  schemas:
    default-response:
      type: object
      title: Default Response
      description: 'See the following documents for details on the error codes:


        - [HTTP 200 errors](docs/response-codes/http-200-responses.md)

        - [HTTP 400 errors](docs/response-codes/http-400-errors.md)

        - [HTTP 401-429 errors](docs/response-codes/http-401-429-errors.md)

        - [HTTP 500 errors](docs/response-codes/http-500-errors.md)'
      properties:
        replyCode:
          type: integer
          description: The Emarsys response code. Successful requests return *0*; otherwise, see [errors](docs/response-codes/http-400-errors.md).
          default: 0
        replyText:
          type: string
          description: Additional information on the status of the request.
        data:
          description: Contains the requested data, if applicable.
          oneOf:
          - type: string
          - type: integer
          - {}
          - type: object
            properties:
              ? ''
              : type: object
      x-examples:
      - replyCode: 0
        replyText: OK
        data: {}
  securitySchemes:
    X-WSSE:
      type: apiKey
      name: X-WSSE
      in: header
