openapi: 3.2.0
info:
  title: Emarsys Core API - Media Database endpoint batch File API
  description: In this batch you may find endpoints related to the Media Database.
  version: v2
servers:
- url: https://api.emarsys.net/api
tags:
- name: File
paths:
  /v2/file/{fileId}:
    get:
      summary: Get a Media Database File
      description: Returns the properties of a media file in the Media Database.
      operationId: getMediaDatabaseFile
      parameters:
      - name: fileId
        in: path
        description: The identifier of the file.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: object
                    description: The requested data.
                    properties:
                      id:
                        type: integer
                        description: The identifier of the file.
                      folder:
                        type: integer
                        description: The identifier of the folder that contains the file.
                      filename:
                        type: string
                        description: The name of the file.
                      size:
                        type: integer
                        description: The file size in bytes.
                      original_name:
                        type: string
                        description: The original name of the file before upload.
                      url:
                        type: string
                        description: The accessible URL of the file.
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      tags:
      - File
  /v2/file/:
    get:
      summary: List Media Database Files
      description: 'Returns a list of all media files in the Media Database.


        **Tip:** Use the `folder` query parameter to only list files in a specific folder.'
      operationId: listMediaDatabaseFiles
      parameters:
      - name: folder
        in: query
        description: The folder identifier. If provided, only files in the specified folder are listed.
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: array
                    description: The requested data.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The identifier of the file.
                        folder:
                          type: integer
                          description: The identifier of the folder that contains the file.
                        filename:
                          type: string
                          description: The name of the file.
                        size:
                          type: integer
                          description: The file size in bytes.
                        original_name:
                          type: string
                          description: The original name of the file before upload.
                        url:
                          type: string
                          description: The accessible URL of the file.
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      tags:
      - File
  /v2/file:
    post:
      summary: Upload a File into the Media Database
      description: "Uploads a file to the Media Database in Base64 encoding.\n\n**Notes**\n- File names are case sensitive.\n- The upload limit is 16 MB for images, 100 MB for documents and 4 MB for other file formats.\n- Refer to uploaded files in email campaigns in the following format:\n  ```\n  <img src=\"/custloads/{customer_identifier}/{filename.extension}\">\n  ```"
      operationId: uploadFileIntoMediaDatabase
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: See the example or [Response Codes](docs/response-codes/error-codes.md) for details.
                additionalProperties: false
                properties:
                  replyCode:
                    type: integer
                    description: The Emarsys [response code](docs/response-codes/error-codes.md).
                  replyText:
                    type: string
                    description: The summary of the [response](docs/response-codes/error-codes.md).
                  data:
                    type: array
                    description: The requested data.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The file identifier.
                        folder:
                          type: string
                          description: The identifier of the folder that contains the uploaded file.
                        filename:
                          type: string
                          description: The new name of the file after upload.
                        size:
                          type: string
                          description: The file size in bytes.
                        original_name:
                          type: string
                          description: The original name of the file provided in the request.
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filename:
                  type: string
                  description: 'The full name of the file with extension.


                    **Example:** testimage.jpg'
                file:
                  type: string
                  description: The base64-encoded content of the file.
                folder:
                  type: integer
                  description: 'The identifier of the Media Database folder to upload into.


                    **Note:** If not specified, the file is uploaded to the root directory.'
                preserve_filename:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Set to *1* to keep the original file name.
                  default: 0
              required:
              - filename
              - file
              x-examples:
              - folder: 840559
                filename: logo.png
                file: Dm++/vUMBAQEBAQEBAQEBAQEBAQAQEAQEBAQEBAQEBAQEBAcO/w4Dvv70RCO+/veKCrO+/veKCrAMBIgRAQ==…
                preserve_filename: 0
      tags:
      - File
  /v2/file/{fileId}/delete:
    post:
      summary: Delete a Media Database File
      description: Removes a media file from the Media Database.
      operationId: deleteMediaDatabaseFile
      parameters:
      - name: fileId
        in: path
        description: The identifier of the file.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-response'
      security:
      - X-WSSE: []
      servers:
      - url: https://api.emarsys.net/api
      tags:
      - File
components:
  schemas:
    default-response:
      type: object
      title: Default Response
      description: 'See the following documents for details on the error codes:


        - [HTTP 200 errors](docs/response-codes/http-200-responses.md)

        - [HTTP 400 errors](docs/response-codes/http-400-errors.md)

        - [HTTP 401-429 errors](docs/response-codes/http-401-429-errors.md)

        - [HTTP 500 errors](docs/response-codes/http-500-errors.md)'
      properties:
        replyCode:
          type: integer
          description: The Emarsys response code. Successful requests return *0*; otherwise, see [errors](docs/response-codes/http-400-errors.md).
          default: 0
        replyText:
          type: string
          description: Additional information on the status of the request.
        data:
          description: Contains the requested data, if applicable.
          oneOf:
          - type: string
          - type: integer
          - {}
          - type: object
            properties:
              ? ''
              : type: object
      x-examples:
      - replyCode: 0
        replyText: OK
        data: {}
  securitySchemes:
    X-WSSE:
      type: apiKey
      name: X-WSSE
      in: header
